:root {
    --primary: #ffbf00;
    --secondary: #fe3f9f; 
  }

/* 
Wild Strawberry: #fe3f9f

Mustard: #ffd34c
Deep Magenta: #da0fc0
 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 500px;
    margin: 0 auto;
    padding: 80px 0;
}

h2{
    padding: 25px 0;
    border-top: thin solid gainsboro ;
    border-bottom: thin solid gainsboro ;
    font-weight: 200;
    width: 60%;
    margin: 0 auto;
    
}
h2 span{
    font-weight: 700;
    display: block;
    color: var(--primary);
    text-transform: uppercase;
}
.dark{
    background-color: black;
    color:aliceblue
}
.intro-h1{
    font-weight: 200;
}
#intro-h1-name{
    color: var(--primary);
    font-size: xx-large;
    /* font-size: 200px; */
}

#intro-photo{
    width: 30%;
    margin-top: 1em;
    border: 5px solid white;
    border-radius: 50%;
}

.pragraph{
    padding: 20px 0;
    width: 80%;
    margin:0 auto 20px
}
.btn{
    background-color:var(--secondary) ;
    color:white;
    padding: 10px 15px;
}
a{
    
    text-decoration: none;
}
.article-date{
    font-size: smaller;
}
h3{
    margin-top: 20px;
}
article a{
    color: var(--primary);
}
.dark  a {
    /* color: white; */
}